[MASTER]
fail-under=7.0
jobs=2

[MESSAGES CONTROL]
enable=W
disable=line-too-long, import-outside-toplevel, missing-module-docstring, too-few-public-methods

[REPORTS]
score=y
reports=n

[TYPECHECK]
generated-members=numpy.*, torch.*

[DESIGN]
max-attributes=25